[submodule "third_party/codex-headless"]
	path = third_party/codex-headless
	url = https://github.com/barnii77/codex-headless
[submodule "third_party/openai-websearch-mcp"]
	path = third_party/openai-websearch-mcp
	url = https://github.com/ConechoAI/openai-websearch-mcp
[submodule "third_party/gemini-cli"]
	path = third_party/gemini-cli
	url = https://github.com/barnii77/gemini-cli
