{
  "numStartups": 1,
  "hasCompletedOnboarding": true,
  "lastOnboardingVersion": "1.0.31",
  "projects": {},
  "lastReleaseNotesSeen": "1.0.31",
  "bypassPermissionsModeAccepted": true,
  "firstStartTime": "2025-06-22T18:37:09.620Z",
  "recommendedSubscription": "",
  "subscriptionNoticeCount": 0,
  "hasAvailableSubscription": false
}
